{% block ecommerce_navigation_links %}
{% if app.user %}
    <div class="ecommerce-navigation-links">
        <ul class="ecommerce-navigation--list">
            {% block ecommerce_navigation_links__elements %}
            <li class="ecommerce-navigation--element
                       {% if controller_name == 'AdminDashboardController' %} selected {% endif %}">
                <a class="ecommerce-navigation--element-link"
                   href="{{ path('app.administration.dashboard') }}"
                >Dashboard</a>
            </li>
            {% if ecommerceHasPermission('ROLE_ADMIN_USERS') %}
            <li class="ecommerce-navigation--element
                       {% if controller_name == 'AdminUserController' %} selected {% endif %}">
                <a class="ecommerce-navigation--element-link"
                   href="{{ path('app.admin.users.index') }}"
                >Users</a>
            </li>
            {% endif %}
            {% if ecommerceHasPermission('ROLE_ADMIN_GROUPS') %}
            <li class="ecommerce-navigation--element
                       {% if controller_name == 'AdminGroupController' %} selected {% endif %}">
                <a class="ecommerce-navigation--element-link"
                   href="{{ path('app.admin.group.index') }}"
                >Groups</a>
            </li>
            {% endif %}
            {% endblock %}
        </ul>
    </div>
{% endif %}
{% endblock %}

