{% extends '@project-ecommerce/base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('@project-ecommerce/administration/admin_category/_form.html.twig') }}

    <a href="{{ path('app.admin.category.index') }}">back to list</a>
{% endblock %}
