{% extends '@project-ecommerce/base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1>Edit Customer</h1>

    {{ include('@project-ecommerce/administration/admin_customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app.admin.customer.index') }}">back to list</a>

    {{ include('@project-ecommerce/administration/admin_customer/_delete_form.html.twig') }}
{% endblock %}
