{% extends '@project-ecommerce/base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>

    {{ include('@project-ecommerce/administration/admin_customer/_form.html.twig') }}

    <a href="{{ path('app.admin.customer.index') }}">back to list</a>
{% endblock %}
